FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"blabla","private_key_id":"35d4b562d9f47c4a28e0ed577d026aeea98af7e9","private_key":"blabla private key","client_email":"blabla","client_id":"bla","auth_uri":"blabla","token_uri":"bla","auth_provider_x509_cert_url":"bla"}
